:root{
    --background:yellow;
    --header-height:3rem;
    --text: #000; 
    --accent-text: #ea0c86;
    --background-fade:rgba(255, 217, 4, 0.97); 
    --large-padding: 1rem;
    --small-padding: calc(var(--large-padding) /2);
    --body-width: 30rem;
    --hero-height: var(--body-width);
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html, body{
height: 100vh;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a, a:visited{
    color: #f2137b;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
  align-items: center ;
}

body{
    background-color: var(--background);
    display:grid;
    grid-template-rows:var(--header-height) auto var(--header-height);
    color: var(--text);
}

body > header {
    grid-row:1;}

  body > main {
    grid-row:2;  }  

    body > footer {
        grid-row:3; }

        body > main {
            display:flex;
            flex-direction:column;
            flex: 1 0 auto;
            min-width: var(--body-width);
            max-width:75%;
            margin: 0 auto;
        
        }
    
        body > header, body > footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            background-color: var(--background-fade);
            padding: var(--large-padding);
        }

        body > header nav{
            display: flex;
            justify-content:space-between;
            gap: var(--large-padding);
            align-items: center;
        }

        body > header .logo {
            background-color:#fdf9f9; 
            padding: var(--small padding);
            font-size: 40px;

        }

        body{
            background-image: url(../images/background.jpg);
            background-position:center;
            background-repeat: no-repeat;
            background-size:cover;
            
        
        }

        body > footer {
            justify-content: center;
        }

        body{
            background-position:center;
            background-repeat: no-repeat;
            background-size:cover;
            
        
        }
        section.signposts {
            flex: 1 0 auto;
            display: grid;
            grid-template-rows: var(--header-height);
        }

        section.signposts > main{
            display:grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-gap: var(--large-padding);
        }

 
        .bgimg {
            background-image: url(../images/doughnutcandle.jpg);
            height: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            color: black;
            font-size: 25px;
          }
          
          .topleft {
            position: absolute;
            top: 0;
            left: 16px;
          }
          
          .bottomleft {
            position: absolute;
            bottom: 0;
            left: 16px;
          }
          
          .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
          
          hr {
            margin: auto;
            width: 40%;
          }